{
  "swagger" : "2.0",
  "info" : {
    "version" : "2025-10-07T02:24:22Z",
    "title" : "Arbitration REST API"
  },
  "host" : "rest.arbitron.ai",
  "schemes" : [ "https" ],
  "paths" : {
    "/claim" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "claim_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "ClaimModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClaimModel"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "put" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "ClaimModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClaimModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/claim-cpt" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cpt_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "ClaimCptModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClaimCptModel"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "put" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "ClaimCptModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClaimCptModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cpt_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/claim-document-types" : {
      "get" : {
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/ClaimDocumentTypesModel"
            },
            "headers" : {
              "Content-Type" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/claim-upload" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "download_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "ClaimUploadModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClaimUploadModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "DeleteClaimUploadModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeleteClaimUploadModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/claim-upload/eob" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cpt_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "UploadEobModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UploadEobModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "DeleteEobModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeleteEobModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/claim/{arb_id}/idr-extension-doc" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "post" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "put" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/claim_document_labels" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Content-Type" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/claims" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Content-Type" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/client" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/idr" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "idr_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Content-Type" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "idrModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/idrModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "put" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "idrModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/idrModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "idr_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/idr_cpt" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "idr_cpt_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "idr_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Content-Type" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/idre" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "idr_entity_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    }
  },
  "securityDefinitions" : {
    "api_key" : {
      "type" : "apiKey",
      "name" : "x-api-key",
      "in" : "header"
    }
  },
  "definitions" : {
    "ClaimUploadModel" : {
      "type" : "object",
      "required" : [ "arb_id", "file", "filename" ],
      "properties" : {
        "arb_id" : {
          "type" : "integer",
          "description" : "Claim Arbitration ID to associate the upload with"
        },
        "file" : {
          "type" : "string",
          "description" : "Base64 encoded file content"
        },
        "filename" : {
          "type" : "string",
          "description" : "Original filename"
        },
        "description" : {
          "type" : "string",
          "description" : "Optional description of the file"
        }
      },
      "title" : "claimUploadModel"
    },
    "UploadEobModel" : {
      "type" : "object",
      "required" : [ "arb_id", "cpt_id", "file", "filename" ],
      "properties" : {
        "cpt_id" : {
          "type" : "integer",
          "description" : "CPT ID"
        },
        "arb_id" : {
          "type" : "integer",
          "description" : "Arbitration ID"
        },
        "filename" : {
          "type" : "string",
          "description" : "File name"
        },
        "file" : {
          "type" : "string",
          "description" : "Binary file content (base64-encoded)"
        }
      },
      "title" : "uploadEobModel"
    },
    "Empty" : {
      "type" : "object",
      "title" : "Empty Schema"
    },
    "DeleteEobModel" : {
      "type" : "object",
      "required" : [ "cpt_id" ],
      "properties" : {
        "cpt_id" : {
          "type" : "integer",
          "description" : "CPT ID whose EOB file should be deleted"
        }
      },
      "title" : "deleteEobModel"
    },
    "ClaimModel" : {
      "type" : "object",
      "required" : [ "service_date" ],
      "properties" : {
        "state_of_service" : {
          "type" : "string"
        },
        "initial_payment_date" : {
          "type" : "string",
          "description" : "Format: YYYY-MM-DD"
        },
        "insurance_phone" : {
          "type" : "string"
        },
        "insurance_address2" : {
          "type" : "string"
        },
        "service_date" : {
          "type" : "string",
          "description" : "Required. Format: YYYY-MM-DD"
        },
        "insurance_state" : {
          "type" : "string"
        },
        "entity_service_description" : {
          "type" : "string"
        },
        "entity_secondary_point_contact_state" : {
          "type" : "string"
        },
        "entity_secondary_point_contact_email" : {
          "type" : "string"
        },
        "entity_secondary_point_contact_name" : {
          "type" : "string"
        },
        "insurance_name" : {
          "type" : "string"
        },
        "entity_tax_id" : {
          "type" : "string"
        },
        "entity_point_contact_zip" : {
          "type" : "string"
        },
        "entity_npi" : {
          "type" : "number"
        },
        "open_negotiation_notice_file_doc" : {
          "type" : "string"
        },
        "entity_point_contact_phone" : {
          "type" : "string"
        },
        "entity_secondary_point_contact_phone" : {
          "type" : "string"
        },
        "facility_name" : {
          "type" : "string"
        },
        "arb_id" : {
          "type" : "integer",
          "description" : "Required for updates"
        },
        "entity_secondary_point_contact_city" : {
          "type" : "string"
        },
        "entity_consent_from_participant" : {
          "type" : "boolean"
        },
        "entity_point_contact_city" : {
          "type" : "string"
        },
        "idr_extension_received" : {
          "type" : "boolean"
        },
        "insurance_email" : {
          "type" : "string"
        },
        "physician_name" : {
          "type" : "string"
        },
        "claim_id" : {
          "type" : "string"
        },
        "health_plan_policy_type" : {
          "type" : "string"
        },
        "insurance_address" : {
          "type" : "string"
        },
        "entity_secondary_point_contact_address2" : {
          "type" : "string"
        },
        "insurance_health_plan_type" : {
          "type" : "string"
        },
        "member_id" : {
          "type" : "string"
        },
        "cooling_off_date" : {
          "type" : "string",
          "description" : "Format: YYYY-MM-DD"
        },
        "entity_point_contact_address2" : {
          "type" : "string"
        },
        "insurance_fehb_enrollment_code" : {
          "type" : "string"
        },
        "insurance_zip_code" : {
          "type" : "string"
        },
        "import_id" : {
          "type" : "string"
        },
        "entity_service_type" : {
          "type" : "string"
        },
        "diagnosis_code_4" : {
          "type" : "string"
        },
        "diagnosis_code_5" : {
          "type" : "string"
        },
        "entity_secondary_point_contact_address" : {
          "type" : "string"
        },
        "entity_other_service_description" : {
          "type" : "string"
        },
        "entity_point_contact_address" : {
          "type" : "string"
        },
        "entity_secondary_point_contact_zip" : {
          "type" : "string"
        },
        "procedure_type" : {
          "type" : "string"
        },
        "entity_type" : {
          "type" : "string"
        },
        "diagnosis_code_2" : {
          "type" : "string"
        },
        "diagnosis_code_3" : {
          "type" : "string"
        },
        "insurance_city" : {
          "type" : "string"
        },
        "diagnosis_code_1" : {
          "type" : "string"
        },
        "negotiation_start_date" : {
          "type" : "string",
          "description" : "Format: YYYY-MM-DD"
        },
        "insurance_fax_number" : {
          "type" : "string"
        },
        "place_of_service" : {
          "type" : "string"
        },
        "entity_point_contact_state" : {
          "type" : "string"
        }
      },
      "title" : "claimModel"
    },
    "idrModel" : {
      "type" : "object",
      "required" : [ "arb_id", "idr_id", "idr_status_id" ],
      "properties" : {
        "idr_id" : {
          "type" : "integer",
          "description" : "Primary key for idr table (required for updates)"
        },
        "idre_entity_amount_due_date_on" : {
          "type" : "string",
          "format" : "date",
          "description" : "Format: YYYY-MM-DD"
        },
        "position_statement_link" : {
          "type" : "string",
          "description" : "Position Statement Link"
        },
        "idr_type" : {
          "type" : "string",
          "description" : "IDR Type"
        },
        "stage_id" : {
          "type" : "integer",
          "description" : "Stage ID"
        },
        "idre_entity_amount_paid_date" : {
          "type" : "string",
          "format" : "date",
          "description" : "Format: YYYY-MM-DD"
        },
        "idr_entity_selected_on" : {
          "type" : "string",
          "format" : "date",
          "description" : "Format: YYYY-MM-DD"
        },
        "dispute_number" : {
          "type" : "string",
          "description" : "Dispute Number"
        },
        "is_alert" : {
          "type" : "boolean",
          "description" : "whether client is active or not"
        },
        "arb_id" : {
          "type" : "integer",
          "description" : "Arb ID for claim"
        },
        "idr_status_id" : {
          "type" : "integer",
          "description" : "IDR Status ID"
        },
        "position_statement_due_date" : {
          "type" : "boolean",
          "format" : "date",
          "description" : "Format: YYYY-MM-DD"
        },
        "idr_entity_id" : {
          "type" : "integer",
          "description" : "IDR Entity ID"
        },
        "idre_amount_paid" : {
          "type" : "boolean",
          "description" : "Idre amount paid"
        }
      },
      "title" : "idrModel"
    },
    "ClaimDocumentTypesModel" : {
      "type" : "object",
      "required" : [ "data", "message" ],
      "properties" : {
        "data" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "type_id" : {
                "type" : "integer"
              },
              "name" : {
                "type" : "string"
              },
              "description" : {
                "type" : "string"
              }
            },
            "required" : [ "description", "name", "type_id" ]
          }
        },
        "message" : {
          "type" : "string"
        }
      },
      "title" : "Claim Document Types Response"
    },
    "Error" : {
      "type" : "object",
      "properties" : {
        "message" : {
          "type" : "string"
        }
      },
      "title" : "Error Schema"
    },
    "ClaimCptModel" : {
      "type" : "object",
      "required" : [ "arb_id", "cpt" ],
      "properties" : {
        "cpt_id" : {
          "type" : "integer",
          "description" : "Primary key for claim_cpts table (required for updates)"
        },
        "is_active" : {
          "type" : "boolean",
          "description" : "Active status flag"
        },
        "cpt" : {
          "type" : "string",
          "description" : "CPT code"
        },
        "stage_id" : {
          "type" : "integer",
          "description" : "Foreign key to stages table"
        },
        "carrier_final_offer" : {
          "type" : "number",
          "description" : "Final offer from carrier"
        },
        "initial_allowed" : {
          "type" : "number",
          "description" : "Initial allowed amount"
        },
        "provider_counter_offer" : {
          "type" : "number",
          "description" : "Counter offer from provider"
        },
        "units" : {
          "type" : "integer",
          "description" : "Number of units"
        },
        "carrier_offer" : {
          "type" : "number",
          "description" : "Initial offer from carrier"
        },
        "increase" : {
          "type" : "number",
          "description" : "Difference between carrier final offer and arbitration award"
        },
        "in_alert" : {
          "type" : "boolean",
          "description" : "Alert flag"
        },
        "provider_final_offer" : {
          "type" : "number",
          "description" : "Final offer from provider"
        },
        "gross_charges" : {
          "type" : "number",
          "description" : "Gross charges amount"
        },
        "arb_id" : {
          "type" : "integer",
          "description" : "Foreign key to claim table"
        },
        "initial_payment" : {
          "type" : "number",
          "description" : "Initial payment amount"
        },
        "arbitrated_award" : {
          "type" : "number",
          "description" : "Amount awarded during arbitration"
        },
        "award_date" : {
          "type" : "string",
          "description" : "Date of arbitration award (YYYY-MM-DD)"
        },
        "cost_sharing_amount_allowed" : {
          "type" : "number",
          "description" : "The cost sharing amount allowed"
        },
        "status" : {
          "type" : "string",
          "description" : "Status (Pending, Eligible, Ineligible)"
        }
      },
      "title" : "claimCptModel"
    },
    "DeleteClaimUploadModel" : {
      "type" : "object",
      "required" : [ "claim_upload_ids" ],
      "properties" : {
        "claim_upload_ids" : {
          "type" : "array",
          "description" : "List of claim_upload_id integers to delete",
          "items" : {
            "type" : "integer"
          }
        }
      },
      "title" : "deleteClaimUploadModel"
    }
  }
}