{
  "swagger" : "2.0",
  "info" : {
    "version" : "2025-10-24T02:40:08Z",
    "title" : "Arbitron REST API"
  },
  "host" : "rest.arbitron.ai",
  "schemes" : [ "https" ],
  "paths" : {
    "/claim" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "claim_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/claim"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "claim",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/claim"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/claim"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "put" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "claim",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/claim"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/claim"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/claim-cpt" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cpt_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "ClaimCptModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClaimCptModel"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "put" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "ClaimCptModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClaimCptModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cpt_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/claim-document-types" : {
      "get" : {
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/ClaimDocumentTypesModel"
            },
            "headers" : {
              "Content-Type" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/claim-upload" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "download_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "ClaimUploadModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClaimUploadModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "DeleteClaimUploadModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeleteClaimUploadModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/claim-upload/eob" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cpt_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "UploadEobModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UploadEobModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "DeleteEobModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeleteEobModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/claim/{arb_id}/idr-extension-doc" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "post" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "put" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/claims" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Content-Type" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/client" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/idr" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "idr_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Content-Type" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "idrModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/idrModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "put" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "idrModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/idrModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "idr_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/idr_cpt" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "idr_cpt_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "idr_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Content-Type" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    },
    "/idre" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "idr_entity_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    }
  },
  "securityDefinitions" : {
    "api_key" : {
      "type" : "apiKey",
      "name" : "x-api-key",
      "in" : "header"
    }
  },
  "definitions" : {
    "ClaimUploadModel" : {
      "type" : "object",
      "required" : [ "arb_id", "file", "filename" ],
      "properties" : {
        "arb_id" : {
          "type" : "integer",
          "description" : "Claim Arbitration ID to associate the upload with"
        },
        "file" : {
          "type" : "string",
          "description" : "Base64 encoded file content"
        },
        "filename" : {
          "type" : "string",
          "description" : "The name of the file to include extension."
        },
        "description" : {
          "type" : "string",
          "description" : "Optional description of the file"
        }
      },
      "title" : "claimUploadModel"
    },
    "UploadEobModel" : {
      "type" : "object",
      "required" : [ "arb_id", "cpt_id", "file", "filename" ],
      "properties" : {
        "cpt_id" : {
          "type" : "integer",
          "description" : "The CPT ID used to track the CPT reccord. "
        },
        "arb_id" : {
          "type" : "integer",
          "description" : "Arbitration ID"
        },
        "filename" : {
          "type" : "string",
          "description" : "the name of the file being uploaded. Include the file extension"
        },
        "file" : {
          "type" : "string",
          "description" : "The binary file content (base64-encoded)"
        }
      },
      "title" : "uploadEobModel"
    },
    "Empty" : {
      "type" : "object",
      "title" : "Empty Schema"
    },
    "DeleteEobModel" : {
      "type" : "object",
      "required" : [ "cpt_id" ],
      "properties" : {
        "cpt_id" : {
          "type" : "integer",
          "description" : "CPT ID whose EOB file should be deleted"
        }
      },
      "title" : "deleteEobModel"
    },
    "idrModel" : {
      "type" : "object",
      "required" : [ "arb_id", "idr_id", "idr_status_id" ],
      "properties" : {
        "idr_id" : {
          "type" : "integer",
          "description" : "Primary key for idr table (required for updates)"
        },
        "idre_entity_amount_due_date_on" : {
          "type" : "string",
          "format" : "date",
          "description" : "Format: YYYY-MM-DD"
        },
        "position_statement_link" : {
          "type" : "string",
          "description" : "Position Statement Link"
        },
        "idr_type" : {
          "type" : "string",
          "description" : "IDR Type"
        },
        "stage_id" : {
          "type" : "integer",
          "description" : "Stage ID"
        },
        "idre_entity_amount_paid_date" : {
          "type" : "string",
          "format" : "date",
          "description" : "Format: YYYY-MM-DD"
        },
        "idr_entity_selected_on" : {
          "type" : "string",
          "format" : "date",
          "description" : "Format: YYYY-MM-DD"
        },
        "dispute_number" : {
          "type" : "string",
          "description" : "Dispute Number"
        },
        "is_alert" : {
          "type" : "boolean",
          "description" : "whether client is active or not"
        },
        "arb_id" : {
          "type" : "integer",
          "description" : "Arb ID for claim"
        },
        "idr_status_id" : {
          "type" : "integer",
          "description" : "IDR Status ID"
        },
        "position_statement_due_date" : {
          "type" : "boolean",
          "format" : "date",
          "description" : "Format: YYYY-MM-DD"
        },
        "idr_entity_id" : {
          "type" : "integer",
          "description" : "IDR Entity ID"
        },
        "idre_amount_paid" : {
          "type" : "boolean",
          "description" : "Idre amount paid"
        }
      },
      "title" : "idrModel"
    },
    "ClaimDocumentTypesModel" : {
      "type" : "object",
      "required" : [ "data", "message" ],
      "properties" : {
        "data" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "type_id" : {
                "type" : "integer"
              },
              "name" : {
                "type" : "string"
              },
              "description" : {
                "type" : "string"
              }
            },
            "required" : [ "description", "name", "type_id" ]
          }
        },
        "message" : {
          "type" : "string"
        }
      },
      "title" : "Claim Document Types Response"
    },
    "Error" : {
      "type" : "object",
      "properties" : {
        "message" : {
          "type" : "string"
        }
      },
      "title" : "Error Schema"
    },
    "claim" : {
      "type" : "object",
      "required" : [ "service_date" ],
      "properties" : {
        "state_of_service" : {
          "type" : "string",
          "description" : "The state abbreviation for the location of service."
        },
        "initial_payment_date" : {
          "type" : "string",
          "description" : "Initial payment date. This is the check date. Format: YYYY-MM-DD"
        },
        "insurance_phone" : {
          "type" : "string",
          "description" : "The primary contact for the insurance carrier."
        },
        "insurance_address2" : {
          "type" : "string",
          "description" : "Line 2 of the insurance carrier address"
        },
        "service_date" : {
          "type" : "string",
          "description" : "Date of the service. Required. Format: YYYY-MM-DD."
        },
        "insurance_state" : {
          "type" : "string",
          "description" : "The state abbreviation"
        },
        "entity_service_description" : {
          "type" : "string",
          "description" : "Service description for arbitration"
        },
        "entity_secondary_point_contact_state" : {
          "type" : "string",
          "description" : "Secondary point of contact state abbreviation."
        },
        "entity_secondary_point_contact_email" : {
          "type" : "string",
          "description" : "Secondary point of contact email address."
        },
        "entity_secondary_point_contact_name" : {
          "type" : "string",
          "description" : "Secondary point of contact name."
        },
        "insurance_name" : {
          "type" : "string",
          "description" : "The name of the insurance carrier."
        },
        "entity_tax_id" : {
          "type" : "string",
          "description" : "The tax ID of the entity associated with the claim. Must be exactly 9 numeric digits (no letters, spaces, or symbols).",
          "minLength" : 9,
          "maxLength" : 9
        },
        "entity_point_contact_zip" : {
          "type" : "string",
          "description" : "Primary contact zip"
        },
        "entity_npi" : {
          "type" : "number",
          "description" : "The National Provider Identifier (NPI) of the entity associated with the claim. Must be exactly 10 digits.",
          "minimum" : 1.0E9,
          "maximum" : 9.999999999E9
        },
        "open_negotiation_notice_file_doc" : {
          "type" : "string",
          "description" : "File name for the saved open negotiation notice document. Field can only be updated via file upload process."
        },
        "entity_point_contact_phone" : {
          "type" : "string",
          "description" : "Primary contact phone"
        },
        "entity_secondary_point_contact_phone" : {
          "type" : "string",
          "description" : "Secondary point of contact phone."
        },
        "facility_name" : {
          "type" : "string",
          "description" : "The name of the facility associated with the claim."
        },
        "arb_id" : {
          "type" : "integer",
          "description" : "The unique ID within arbitron.ai claim records for tracking. Required for updates and cannot be updated."
        },
        "entity_secondary_point_contact_city" : {
          "type" : "string",
          "description" : "The secondary point of contact city."
        },
        "entity_consent_from_participant" : {
          "type" : "boolean",
          "description" : "Consent from participant. This is false by default."
        },
        "entity_point_contact_city" : {
          "type" : "string",
          "description" : "Primary contact city"
        },
        "idr_extension_received" : {
          "type" : "boolean",
          "description" : "Determination if a idr extension was received. If set to true, the IDR extension document should be uploaded."
        },
        "insurance_email" : {
          "type" : "string",
          "description" : "The insurance carrier email address."
        },
        "physician_name" : {
          "type" : "string",
          "description" : "Name of the physician on the claim."
        },
        "claim_id" : {
          "type" : "string",
          "description" : "The claim number associated with the claim. A system-generated, unique reference number assigned by a payer to track, process, and adjudicate a specific medical billing claim."
        },
        "health_plan_policy_type" : {
          "type" : "string",
          "description" : "The health plan policy type required for arbitration. Values can be: 'Individual health insurance issuer', 'Fully-insured ERISA group health plan', 'Either partially or fully self-insured ERISA group health plan', 'Federal Employees Health Benefits (FEHB) carrier', 'Church Plan', 'Non-federal government plan (e.g. state or local government plan)', 'No Plan/Issuer Response'"
        },
        "insurance_address" : {
          "type" : "string",
          "description" : "Line 1 of the insurance carrier address"
        },
        "entity_secondary_point_contact_address2" : {
          "type" : "string",
          "description" : "Secondary point of contact address line 2."
        },
        "insurance_health_plan_type" : {
          "type" : "string",
          "description" : "The health care plan type which can be GROUP_HEALTH_PLAN, INDIVIDUAL_HEALTH_INSURANCE_ISSUER, FEHB_CARRIER"
        },
        "member_id" : {
          "type" : "string",
          "description" : "A unique identifier assigned by a health insurance company to a specific insurance policy held by the patient, used to verify coverage and process medical claims."
        },
        "cooling_off_date" : {
          "type" : "string",
          "description" : "Date of the IDR determination plus 90 days. The cooling-off period begins on the date the certified IDR entity issues its determination. Format: YYYY-MM-DD."
        },
        "entity_point_contact_address2" : {
          "type" : "string",
          "description" : "Primary contact address line 2"
        },
        "insurance_fehb_enrollment_code" : {
          "type" : "string",
          "description" : "Federal Employees Health Benefits (FEHB) enrollment codes are used to identify and select health insurance plans for federal employees and their eligible dependents."
        },
        "insurance_zip_code" : {
          "type" : "string",
          "description" : "The insurance carrier zip code"
        },
        "import_id" : {
          "type" : "string",
          "description" : "Imported ID to help track records uniquely from 3rd party system."
        },
        "entity_service_type" : {
          "type" : "string",
          "description" : "Service type for arbitration."
        },
        "diagnosis_code_4" : {
          "type" : "string",
          "description" : "Quaternary diagnosis code for for the claim. This is optional."
        },
        "diagnosis_code_5" : {
          "type" : "string",
          "description" : "Quinary diagnosis code for for the claim. This is optional."
        },
        "entity_secondary_point_contact_address" : {
          "type" : "string",
          "description" : "Secondary point of contact address line 1."
        },
        "entity_other_service_description" : {
          "type" : "string",
          "description" : "Other service description"
        },
        "entity_point_contact_address" : {
          "type" : "string",
          "description" : "Primary contact address"
        },
        "entity_secondary_point_contact_zip" : {
          "type" : "string",
          "description" : "Secondary point of contact zip code"
        },
        "procedure_type" : {
          "type" : "string",
          "description" : "The coding classification or category used to describe a medical service or intervention associated with the claim."
        },
        "entity_type" : {
          "type" : "string",
          "description" : "Entity type for arbitration. The entity type can be a value of HEALTH_CARE_PROVIDER, HEALTH_CARE_FACILITY, PROVIDER_OF_AIR_AMBULANCE_SERVICES"
        },
        "diagnosis_code_2" : {
          "type" : "string",
          "description" : "Secondary diagnosis code for for the claim. This is optional."
        },
        "diagnosis_code_3" : {
          "type" : "string",
          "description" : "Tertiary diagnosis code for for the claim. This is optional."
        },
        "insurance_city" : {
          "type" : "string",
          "description" : "The address city for the insurance carrier"
        },
        "diagnosis_code_1" : {
          "type" : "string",
          "description" : "The diagnosis code for for the claim."
        },
        "negotiation_start_date" : {
          "type" : "string",
          "description" : "Negotiation start date. Format: YYYY-MM-DD"
        },
        "insurance_fax_number" : {
          "type" : "string",
          "description" : "The fax number of the insurance carrier. This field isn't required"
        },
        "place_of_service" : {
          "type" : "string",
          "description" : "The name of the place of service for the claim."
        },
        "entity_point_contact_state" : {
          "type" : "string",
          "description" : "Primary contact state"
        }
      },
      "title" : "claim"
    },
    "ClaimCptModel" : {
      "type" : "object",
      "required" : [ "arb_id", "cpt" ],
      "properties" : {
        "cpt_id" : {
          "type" : "integer",
          "description" : "Primary key for claim_cpts table (required for updates)"
        },
        "is_active" : {
          "type" : "boolean",
          "description" : "Active status flag"
        },
        "cpt" : {
          "type" : "string",
          "description" : "CPT code"
        },
        "stage_id" : {
          "type" : "integer",
          "description" : "Foreign key to stages table"
        },
        "carrier_final_offer" : {
          "type" : "number",
          "description" : "Final offer from carrier"
        },
        "initial_allowed" : {
          "type" : "number",
          "description" : "Initial allowed amount"
        },
        "provider_counter_offer" : {
          "type" : "number",
          "description" : "Counter offer from provider"
        },
        "units" : {
          "type" : "integer",
          "description" : "Number of units"
        },
        "carrier_offer" : {
          "type" : "number",
          "description" : "Initial offer from carrier"
        },
        "increase" : {
          "type" : "number",
          "description" : "Difference between carrier final offer and arbitration award"
        },
        "in_alert" : {
          "type" : "boolean",
          "description" : "Alert flag"
        },
        "provider_final_offer" : {
          "type" : "number",
          "description" : "Final offer from provider"
        },
        "gross_charges" : {
          "type" : "number",
          "description" : "Gross charges amount"
        },
        "arb_id" : {
          "type" : "integer",
          "description" : "Foreign key to claim table"
        },
        "initial_payment" : {
          "type" : "number",
          "description" : "Initial payment amount"
        },
        "arbitrated_award" : {
          "type" : "number",
          "description" : "Amount awarded during arbitration"
        },
        "award_date" : {
          "type" : "string",
          "description" : "Date of arbitration award (YYYY-MM-DD)"
        },
        "cost_sharing_amount_allowed" : {
          "type" : "number",
          "description" : "The cost sharing amount allowed"
        },
        "status" : {
          "type" : "string",
          "description" : "Status (Pending, Eligible, Ineligible)"
        }
      },
      "title" : "claimCptModel"
    },
    "DeleteClaimUploadModel" : {
      "type" : "object",
      "required" : [ "claim_upload_ids" ],
      "properties" : {
        "claim_upload_ids" : {
          "type" : "array",
          "description" : "List of claim_upload_id integers to delete",
          "items" : {
            "type" : "integer"
          }
        }
      },
      "title" : "deleteClaimUploadModel"
    }
  }
}
